header {
  border-bottom-color: black;
  border-bottom: 1px solid;
}


.tophead {
  border-bottom-color: black;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

#name {

  color: dodgerblue;
}

#about {
  border-bottom-color: black;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

.maincontainer {

  padding-top: 25px;
}

footer {
  text-align: center;
}

.Orlando {
  height: 150px;
  width: 150px;
}

.card-body {
  background-color: rgb(255, 253, 253);
}

.card-img-top{
  height: 215px;
  width: 285px;
}



@media screen and (max-width: 425px) {
.Orlando{
  margin: 0 auto;
    align-content: center;
}

  .col-md-4 {
    align-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .col-md-8{
    align-content: center;
    margin: 0 auto;
    width: 100%;
    float: left;
  }

}

